header, footer {
  text-align: center;
  height: 200px;
  font-family: monospace;
  margin-top: 0;
  background: #262A53;
  background: -webkit-linear-gradient(#628395, #FFE3E3);
  background: -moz-linear-gradient(#628395, #FFE3E3);
  background: -ms-linear-gradient(#628395, #FFE3E3);
  background: -o-linear-gradient(#628395, #FFE3E3);
  background: linear-gradient(#628395, #FFE3E3);
}

body {
  margin-top: 0;
}

h1 {
  color: #FFF;
  font-size: 100px;
  padding-top: 50px;
  margin-top: 2px;
}

section {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 80px;
}

.first, .second, .third {
  width: 300px;
  height: 300px;
  background: #C9D8B6;
  border-radius: 10px;
  transition-property: background, border-radius, width, height;
  transition-duration: .5s;
  transition-timing-function: ease;
  transition-delay: .5s;
}

.first:hover {
  background: #57837B;
  border-radius: 50%;
  width: 310px;
}

.second:hover {
  background: #F1ECC3;
  border-radius: 20%;
  height: 320px;
}

.third:hover {
  background: #515E63;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
